@{
    Layout = null;
    ViewBag.Title = "Muzhi";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Muzhi Page</title>
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="~/Content/MainPage.css">
</head>

    <body>
    	<div class="header col-md-4 col-md-offset-4">
			<div class="banner">
                <ul>
                    <li><a href="/Item1"><button class="btn-lg btn-default">Item1</button></a></li>
    				<li><a href="/Item2"><button class="btn-lg btn-default">Item2</button></a></li>
    				<li><a href="/Item3"><button class="btn-lg btn-default">Item3</button></a></li>
    				<li><button class="btn-lg btn-default">Item4</button></li>
    				<li><button class="btn-lg btn-default">Item5</button></li>
    			</ul>
			</div>
		</div>
        <div class="container header col-md-4 col-md-offset-4">
            <div class="">
                <h1>This is Alan's Test Website</h1>
            </div>
        </div>
    </body>
</html>