@{
    Layout = null;
    ViewBag.Title = "Muzhi";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Muzhi Page</title>
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="~/Content/MainPage.css">
</head>

    <body>
		<div class="overall col-md-6 col-md-offset-3">
        	<div class="header">
    			<div class="banner">
                    <ul>
                        <li><a href="/Item1"><button class="btn-lg btn-default">About Me</button></a></li>
        				<li><a href="/Item2"><button class="btn-lg btn-default">Work Sample</button></a></li>
        				<li><a href="/Item3"><button class="btn-lg btn-default">Item3</button></a></li>
        				<li><a href="/Item4"><button class="btn-lg btn-default">Item4</button></a></li>
        				<li><a href="/Item5"><button class="btn-lg btn-default">Item5</button></a></li>
        			</ul>
    			</div>
    		</div>
            <div class="container">
                <div class="main">
                    <h1>This is Alan's Test Website</h1>
                </div>
            </div>
		</div>
    </body>
</html>