<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="txt/css" href="~/Content/boostrap.min.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
